* { box-sizing: content-box; outline: none; }

body.main {
    position: relative;
    display: grid;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0; margin: 0;
    cursor: none;
    background: white;
    /* Para evitar saltos en reflow*/
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    *::selection { background: none; }

    #media {
        width: 100%;
        height: 100%;
        position: absolute;
        #content { 
            width: 101%;
            height: 101%;
            object-fit: fill;
            opacity: 0;
            transition: opacity $fade-duration;
    
            &.visible { opacity: 1 !important; }
        }
    }

    /* ******************************
    ***********  GRIDS  *************
    ********************************* */

    #media  { grid-area: media; }
    #info   { grid-area: info; }
    #colas  { grid-area: colas; }

    &:not(.noInfo) {
        &.derecha {
            grid-template:
                "media  colas"  9fr
                "info   colas"  1fr
                / 8.4fr   30vh
            ;
        }
    
        &.izquierda {
            grid-template:
                "colas  media"  9fr
                "colas  info"  1fr
                / 30vh   8.4fr
            ;
        }
    
        &.abajo {
            grid-template:
                "media  info"  8.5fr
                "colas  colas"  2.5fr
                / 8.5fr   2.5fr
            ;
        }
    }


    &.noInfo {
        #info { display: none;  }
        
        &.derecha {
            grid-template:
                "media  colas"
                / 8.4fr   30vh
            ;
        }
    
        &.izquierda {
            grid-template:
                "colas  media"
                / 30vh   8.4fr
            ;
        }
    
        &.abajo {
            grid-template:
                "media"  8.5fr
                "colas"  2.5fr
            ;
        }
    }
}

/* ******************************
***********  EVENTOS  *************
********************************* */

/* PAN */

img#imgPan {
    position: absolute;
    width: 100%;
    left: 0; top: 0;
    z-index: 1;
    animation: zoom-in 2s ease-out;
}